
.about-title {
  display: flex;
  flex-direction: column; 
  align-items: center;
  text-align: center;
}


@media (min-width: 768px) {
  .about-title {
    flex-direction: row; 
    align-items: center;
    text-align: left;
    justify-content: center;
  }
  .digit-container {
    gap: 0.22rem; 
  }
}


@media (min-width: 960px) {
  .about-title {
    flex-direction: row;
    justify-content: flex-start; 
  }
  .digit-container {
    margin-left: 1rem;
  }
}


.text-hacksagon {
  font-size: 5rem;
  line-height: 1.2; 
  visibility: visible; 
  white-space: nowrap; 
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

@media (min-width: 768px) and (max-width: 960px) {
  .text-hacksagon {
    font-size: 4rem; 
    color: inherit; /* Ensure gradient or default color is used */
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4); /* Add shadow for better visibility */
  }
  .digit-container {
    align-items: center; /* Ensure digits align properly */
  }
}


.digit {
  display: inline-block;
  font-size: inherit;
  opacity: 0;
  transform: translateY(15px); 
  animation: digitFadeIn 0.2s ease-out forwards;
}

.digit:nth-child(1) {
  animation-delay: 0.3s;
}
.digit:nth-child(2) {
  animation-delay: 0.6s;
}
.digit:nth-child(3) {
  animation-delay: 0.9s;
}
.digit:nth-child(4) {
  animation-delay: 1.2s;
}

@keyframes digitFadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-up {
  animation: fadeIn 1.0s ease-out forwards;
  opacity: 0; 
}

.animate-fade-up:nth-of-type(1) {
  animation-delay: 1.3s;
}

.animate-fade-up:nth-of-type(2) {
  animation-delay: 1.9s;
}

.animate-fade-up:nth-of-type(3) {
  animation-delay: 2.5s;
}

