.text-stroke-white {
  -webkit-text-stroke: 2px white;
  color: transparent; /* This ensures only the stroke is visible */
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
